@keyframes loading1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading2 {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

html{
  height: 98%;
  margin: 0;
  padding: 0;
  background-color: lightblue;
  font-family: sans-serif;
}

div {
  margin: 0;
  padding: 0;
}

body {
  animation: loading1 1.8s;
  margin: 0 50px;
  height: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 1fr 100px 50px;
  place-items: center;
  vertical-align: middle;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.header {
  margin: 0;
  font-size: 4vw;
  position: relative;
}

.header::before {
  width: 100%;
  content: '';
  bottom: 0;
  position: absolute;
  animation: loading2 1s forwards;
  border-bottom: solid 2px blue;
}

#select_menu {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  place-items: center;
}

.no_select_btn {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 90%;
  background-color: gray;
  font-size: 3.5vw;
  color: white;
  border: solid 2px gray;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.no_select_btn:hover {
  height: 52%;
  width: 92%;
}

.no_select_btn:active {
  height: 50%;
  width: 90%;
}

.yes_select_btn {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 90%;
  background-color: blue;
  font-size: 4vw;
  color: white;
  border: solid 2px blue;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.yes_select_btn:hover {
  height: 52%;
  width: 92%;
}

.yes_select_btn:active {
  height: 50%;
  width: 90%;
  font-size: 3.5vw;
}

.no_next_btn {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 35%;
  background-color: darkgray;
  font-size: 3.5vw;
  color: white;
  border: solid 2px darkgray;
  border-radius: 40px;
  transition: 0.2s;
  text-decoration: line-through;
}

.yes_next_btn {
  margin: 0;
  padding: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 35%;
  background-color: deepskyblue;
  font-size: 4vw;
  color: white;
  border: solid 2px deepskyblue;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.2s;
}

.yes_next_btn:hover {
  height: 72%;
  width: 37%;
}

.yes_next_btn:active {
  height: 70%;
  width: 35%;
  font-size: 3.5vw;
}
